body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:47px;
  width:741px;
  height:458px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:460px;
  width:89px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:460px;
  width:91px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:288px;
  width:703px;
  height:122px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:122px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:138px;
  width:100px;
  height:29px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:60px;
  width:177px;
  height:37px;
  font-size:28px;
  text-align:center;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:177px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:256px;
  width:100px;
  height:22px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:138px;
  width:184px;
  height:29px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u197_input:disabled {
  color:grayText;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:206px;
  width:111px;
  height:29px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:206px;
  width:22px;
  height:29px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:138px;
  width:231px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:227px;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:138px;
  width:103px;
  height:29px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:206px;
  width:201px;
  height:29px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u202_input:disabled {
  color:grayText;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:206px;
  width:100px;
  height:29px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:206px;
  width:22px;
  height:29px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:206px;
  width:177px;
  height:29px;
}
#u205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u205_input:disabled {
  color:grayText;
}
